.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 5vh;
}

.button-design {
    margin: 10px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    width: 150px;
    align-items: center;
}

.white {
    border: 5px solid white;
}

.yellow {
    border: 5px solid yellow;
}

.purple {
    border: 5px solid rgb(161, 106, 232);
}

.aqua {
    border: 5px solid aqua;
}

.pink {
    border: 5px solid rgb(238, 71, 207);
}

.button-text {
    color: white;
    font-family: Minecraft;
    font-weight: bold;
    font-size: 20px;
}

.button-text:active {
    color: rgb(198, 198, 198);
}

.purple:hover {
    border: 8px solid rgb(161, 106, 232);
    padding: 12px;
    font-weight: bold;
    font-style: italic;
}

.yellow:hover {
    border: 8px solid yellow;
    padding: 12px;
    font-weight: bold;
    font-style: italic;
}

.aqua:hover {
    border: 8px solid aqua;
    padding: 12px;
    font-weight: bold;
    font-style: italic;

}

.pink:hover {
    border: 8px solid rgb(238, 71, 207);
    padding: 12px;
    font-weight: bold;
    font-style: italic;
}

.white:hover {
    border: 8px solid white;
    padding: 12px;
    font-weight: bold;
    font-style: italic;
}

.white:active {
    border: 8px solid rgb(198, 198, 198);
    padding: 12px;
    font-weight: bold;
    font-style: italic;
}

.pink:active {
    border: 8px solid rgb(150, 44, 131);
    padding: 12px;
    font-weight: bold;
    font-style: italic;
}

.aqua:active {
    border: 8px solid rgb(0, 150, 150);
    padding: 12px;
    font-weight: bold;
    font-style: italic;
}

.purple:active {
    border: 8px solid rgb(105, 69, 151);
    padding: 12px;
    font-weight: bold;
    font-style: italic;
}

.yellow:active {
    border: 8px solid rgb(178, 178, 28);
    padding: 12px;
    font-weight: bold;
    font-style: italic;
}