.soundtext {
    color: white;
    position: absolute;
    top: 0%;
    right: 1%;
    font-size: 13px;
    font-family: 'Minecraft';
    cursor: pointer;
    font-style: italic;
}

.soundtext:hover {
    font-weight: bold;
}