.experience-container {
    overflow: auto;
    white-space: nowrap;
    margin-top: -400px;
    position: relative;
    zoom: 0.8;
}

.card-back-button {
    cursor: pointer;
    font-weight: bold;
    font-family: 'Minecraft';
    padding: 8px;
    width: 50px;
    margin-right: 10px;
    display: inline-block;
    color: white;
    background: black;
    text-align: center;
    border-radius: 15px;
    border: 4px solid rgb(164, 32, 32);
}

.card-back-button:hover {
    border: 8px solid rgb(164, 32, 32);
    padding: 4px;
}

.card-back-button:active {
    border: 8px solid rgb(101, 20, 20);
    padding: 4px;
}

.card-design {
    white-space: normal;
    display: inline-block;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.758);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    width: 450px;
    height: 350px;
    border: 4px solid white;
    overflow-wrap: break-word;
}

.image {
    border-radius: 10px 10px 0 0;
}

.employer {
    margin-left: 15px;
    margin-top: -5px;
    margin-bottom: 10px;
    height: 50px;
}

.job-title {
    font-family: 'Jetbrains';
    font-weight: 800;
    font-size: 15px;
    color: white;
    text-align: left;
    margin-left: 15px;
    margin-top: 30px;
    word-spacing: -5px;
}

.job-description {
    font-family: 'Jetbrains';
    font-weight: 400;
    font-size: 14px;
    color: white;
    text-align: left;
    margin-left: 13.5px;
    margin-top: -10px;
    word-spacing: -5px;
}

.job-dates {
    font-family: 'Jetbrains';
    font-weight: normal;
    font-size: 12px;
    color: gray;
    text-align: left;
    margin-left: 325px;
    word-spacing: -5px;
    margin-top: -45px;
}

.mars-image {
    border-radius: 10px 10px 0 0;
    width: 325px;
    height: 150px;
    background-image: linear-gradient(to right, transparent, rgb(0, 0, 0)),
        url('https://raw.githubusercontent.com/justinsoberano/portfolio-data/main/images/experience_images/mars.png');
    background-size: 50% 100%, cover;
    background-position: right, center; 
    background-repeat: no-repeat, no-repeat; 
}

.computer-image {
    border-radius: 10px 10px 0 0;
    width: 325px;
    height: 150px;
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.417)),
        url('https://raw.githubusercontent.com/justinsoberano/portfolio-data/main/images/experience_images/computer-vision.png');
    background-size: 50% 100%, cover;
    background-position: right, center; 
    background-repeat: no-repeat, no-repeat; 
}

.durham-image {
    border-radius: 10px 10px 0 0;
    width: 325px;
    height: 150px;
    background-image: linear-gradient(to right, transparent, black),
        url('https://raw.githubusercontent.com/justinsoberano/portfolio-data/main/images/experience_images/durham.png');
    background-size: 50% 100%, cover;
    background-position: right, center; 
    background-repeat: no-repeat, no-repeat; 
}

.tech-stack {
    width: 150px;
    position: inline-block;
    margin-top: -100%;
    margin-bottom: 15px;
    margin-left: 65%;
}